*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

* {
  margin: 0;
  padding: 0;
}

a {
  border: none;
}

* {
  outline: none;
}

*:before, *:after {
  box-sizing: inherit;
}

#wp {
  position: fixed;
  z-index: 100;
  height: 60px;
  width: 60px;
  right: 40px;
  bottom: 40px;
  border-radius: 50px;
  background-color: rgb(38,231,7);
  font-size: 30px;
  text-align: center;
  box-shadow: 2px 2px 3px #000000;
  color: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body a {
  color: inherit;
  text-decoration: none;
}

* {
  /*box-sizing: inherit;*/
}

*:before, *:after {
  /*box-sizing: inherit;*/
}

#wp {
  position: fixed;
  z-index: 100;
  height: 60px;
  width: 60px;
  right: 40px;
  bottom: 40px;
  border-radius: 50px;
  background-color: rgb(38,231,7);
  font-size: 30px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  color: #FFF;
}

#wp:hover {
  /*color: rgb(72,90,255);*/
  text-decoration: none;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

@media (min-width:768px) {
  .d-md-flex {
    display: -ms-flexbox!important;
    display: flex!important;
  }
}

@media (min-width:768px) {
  .justify-content-md-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
  }
}

@media (min-width:768px) {
  .align-items-md-center {
    -ms-flex-align: center!important;
    align-items: center!important;
  }
}

a:hover {
  color: #ffffff!important;
  text-decoration: underline;
}

#wp {
  position: fixed;
  z-index: 100;
  height: 60px;
  width: 60px;
  right: 40px;
  bottom: 40px;
  border-radius: 50px;
  background-color: rgb(38,231,7);
  font-size: 30px;
  text-align: center;
  box-shadow: 2px 2px 12px #343232;
  opacity: 1;
  color: #FFF;
}

* {
}

*:before, *:after {
}

#wp {
  position: fixed;
  z-index: 100;
  height: 60px;
  width: 60px;
  right: 20px;
  bottom: 20px;
  border-radius: 50px;
  background-color: #25D366;
  font-size: 30px;
  text-align: center;
  box-shadow: 2px 2px 12px #343232;
  opacity: 1;
  color: #FFF;
}

#wp:hover {
  color: #000000;
  text-decoration: none;
  transition: .5s;
}

